<ion-header>
  <ion-toolbar>      
    <ion-title>Large Title Demos</ion-title>              
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button routerLink="/standard">Standard</ion-item>
    <ion-item button routerLink="/searchbar">Searchbar</ion-item>
    <ion-item button routerLink="/searchbar-dark">Searchbar Dark</ion-item>
    <ion-item button routerLink="/translucent">Translucent</ion-item>
    <ion-item button routerLink="/translucent-dark">Translucent Dark</ion-item>
    <ion-item button routerLink="/translucent-dark-searchbar">Translucent Dark Searchbar</ion-item>
  </ion-list>
</ion-content>
